.dropdown {
    justify-content: center;
    align-content: center;
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    width: 30%;
    text-align: center;
  } 

  .arrow {
    justify-content: center;
    align-content: center;
    position: relative;
    top: 20%;
    transform: translateY(20%);
    width: 30%;
    text-align: center;
  } 
  .arrow2 {
    position: relative;
    top: 15%;
    transform: translateY(15%);
  } 

  .header {
    position: relative;
    top: 20%;
    transform: translateY(-20%);
    color: 'red';
    font-size: '100px';
    font-family: "Josefin Sans";
    text-align: "left";
  }
